<!Doctype html>
<h1>Travel and tourism abstract</h1>
<hr>
<p>
    Tourism industry is one of the fastest developing sectors for the economy worldwide. It helps significantly to the country for creating the employment opportunities to a large number of people and a way to attract more foreign exchanges.
    Tourism sector contribute 9.2% in the GDP of India.
    The aim of this project is to create a website which includes all the tourist places of India and provide services like hotel booking and holiday packages for those places.
</p>
<hr>
<h3>Modules</h3>
<ul>
    <li>Registration</li>
    <li>Login</li>
    <li>CRUD operations for registered user</li>
    <li>State-wise tourist places</li>
    <li>Hotel booking and payment</li>
    <li>Photo Gallery</li>
    <li>Contact Us</li>
</ul>
<hr>
<h3>Target Users</h3>
<ul>
    <li>Indian Citizens</li>
    <li>NRI</li>
    <li>Foreigners</li>
</ul>

<hr>
<h3>User point of view</h3>
<ul>
    <li>SEO friendly</li>
    <li>Responsive pages</li>
    <li>Oauth login</li>
</ul>
