<!DOCTYPE html>
<html>
<head>
    <title>
        Hotel Booking
    </title>
    <link rel="stylesheet" href="~/css/hotelbooking.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-container">
        <div id="background-image">
            <div id="background-image-content">
                <div class="transbox">
                    <h1 style="padding-top: 15px;"> LEISURE INN  </h1>
                    <p style="padding-top: 10px;"> GET A HAPPY AND COMFORTABLE PLACE TO LIVE </p>
                    <div class="booking-form">
                        <form>
                            <h6 style="padding-top: 250px;"> Book a hotel now!! </h6>
                            <input type="text" name="destination" placeholder="Choose your destination" />
                            <input type="text" name="name" placeholder="Enter your name" />
                            <input type="email" name="email" placeholder="Enter your email" /> <hr>
                            <input type="text" placeholder="Check-in Date" onfocus="(this.type='date')" onblur="(this.type='text')">
                            <input type="text" placeholder="Check-out Date" onfocus="(this.type='date')" onblur="(this.type='text')">
                            <input type="number" name="totalperson" placeholder="Enter the number of guests" min="1" max="8" /> <hr>
                            <div style="padding-left:200px;"><button type="submit" value="submit" onclick="/Home/paymentform"><a href="paymentform"> BOOK ROOM!!</a></button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="service-section">
            <h1 class="service-section-title"> Room services provided by us!! </h1>
            <div class="service-section-content">
                <div class="cols-3">
                    <img src="~/Image/Hotel/food.jpg">
                    <h3> From Breakfast to Dinner </h3>
                    <p> We have 24*7 service of food delivery. We are just a ring away! Ring us at 24567 and tell us what will you like to eat and we will be at your doorstep with the food you ordered. </p>
                </div>
                <div class="cols-3">
                    <img src="~/Image/Hotel/wifi.jpg">
                    <h3> 24*7 Free Internet Services </h3>
                    <p> Want to post your travelling pictures online on whatsapp, instagram, twitter, telegram etc. We provide you free wifi connection 24*7, post as many pictures as you want without losing your mobile data. </p>
                </div>
                <div class="cols-3">
                    <img src="~/Image/Hotel/tv.jpg">
                    <h3> TV Connection </h3>
                    <p> If you are a MUSIC fan or a ARNAB GOSWAMI fan or a SAAS-BAHU serial fan, and worrying about how will you see the missing telecasts when you will not be in home, then don't worry at all! You don't have to miss a single telecast. We provide you free T.V. Services </p>
                </div>
            </div>
        </div>
        <div id="vip-room-section">
            <div id="vip-room-details">
                <div class="vip">
                    <h1 style="padding-left:400px; font-style:italic; font-size: 4em;"> Type of Rooms </h1> <br><br>
                    <div class="cols-2">
                        <video class="vip-pic" controls>
                            <source src="~/Image/Hotel/luxuryroom.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="cols-2">
                        <h1 class="vip-title" style="font-weight: 500; font-style: italic; padding-left: -30px;"> Luxury Room (VIP) </h1>
                        <p class="vip-content">
                            <ul style="margin-top: -10px; padding-left: 70px; line-height: 1.5em; font-size: 1.4em; font-style: italic; font-family: 'Times New Roman', Times, serif;">
                                <li> 4 attached rooms </li>
                                <li> 4 Kingsize beds </li>
                                <li> 1 Sofa </li>
                                <li> Air Conditioner (AC) </li>
                                <li> Refrigerator </li>
                                <li> Geyser in fresh-room </li>
                                <li> 3 freshrooms </li>

                            </ul>
                        </p>
                        <div class="prize" style="padding-left: 120px; font-style:italic;"> Prize : 8,000/- per day. </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="vip-room-section">
            <div id="vip-room-details">
                <div class="vip">
                    <div class="cols-2">
                        <h1 class="vip-title" style="font-weight: 500; font-style: italic;"> Double-bedded Room </h1>
                        <p class="vip-content">
                            <ul style="margin-top: -10px; padding-left: 150px; line-height: 1.5em; font-size: 1.4em; font-style: italic; font-family: 'Times New Roman', Times, serif;">
                                <li> 2 attached rooms </li>
                                <li> 2 Single beds </li>
                                <li> Cooler </li>
                                <li> Coffee/Tea Maker and pouches </li>
                                <li> Geyser in fresh-room </li>
                                <li> 1 freshroom </li>

                            </ul>
                        </p>
                        <div class="prize" style="font-style:italic; padding-left: 100px;"> Prize : 5,000/- per day. </div>
                    </div>
                    <div class="cols-2">
                        <video class="vip-pic" controls>
                            <source src="~/Image/Hotel/doublebedded.mp4" height="500" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <div id="vip-room-section">
            <div id="vip-room-details">
                <div class="vip">
                    <div class="cols-2">
                        <video class="vip-pic" controls>
                            <source src="~/Image/Hotel/singlebedded.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="cols-2">
                        <h1 class="vip-title" style="font-weight: 500; font-style: italic; padding-left: -30px;"> Single-bedded Room </h1>
                        <p class="vip-content">
                            <ul style="margin-top: -10px; padding-left: 70px; line-height: 1.5em; font-size: 1.4em; font-style: italic; font-family: 'Times New Roman', Times, serif;">
                                <li> 1 room </li>
                                <li> 1 single bed </li>
                                <li> 1 Ceiling-fan</li>
                                <li> Geyser in fresh-room </li>
                                <li> 1 freshroom </li>

                            </ul>
                        </p>
                        <div class="prize" style="padding-left: 120px; font-style:italic;"> Prize : 2,000/- per day. </div>
                    </div>

                </div>
            </div><br>
            <h1 style="padding-left:150px; font-style:italic; font-size: 2em; background-color:#f6f8fa"> Food services, Wi-fi, and TV services mentioned above are same for all type of rooms. </h1> <br><br>
        </div><br>
        <div id="review-section">
            <div class="rev-section">
                <h2 class="title"> Let's hear it from our guests! </h2>
                <p class="note"> Visit to us and extend our family! </p>
                <div class="reviews">
                    <div class="review">
                        <div class="head-review">
                            <img src="~/Image/Hotel/cus1.jpg" width="250px" />
                        </div>
                        <div class="body-review">

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="desc-review">
                                Really enjoyed our stay here. The rooms were clean and the staff were friendly and helpful. It was a great stay! We used the travel agent in the hotel to help us with our trip and they were amazing too! Highly recommend this place! I was very much impressed by the services offered by the hotel Really liked the interiors of the room.
                            </div>
                            <div class="name-review"> Srinivas Ramanajan </div>
                            <div class="place-review"> Tamil Nadu, India </div>

                        </div>

                    </div>
                </div>
                <div class="reviews">
                    <div class="review">
                        <div class="head-review">
                            <img src="~/Image/Hotel/cus3.jpg" width="250px" />
                        </div>
                        <div class="body-review">

                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="desc-review">
                                Both the check-in and check-out process were smooth. I am surely going to recommend this hotel to every person reading this review. The place is very spacious and clean and well managed. Staff is well behaved and the location is right beside commercial street and church street to go out.
                            </div>
                            <div class="name-review"> Ashutosh Mukherjee </div>
                            <div class="place-review"> Tripura, India </div>

                        </div>

                    </div>
                </div>
                <div class="reviews">
                    <div class="review">
                        <div class="head-review">
                            <img src="~/Image/Hotel/cus2.jpg" width="250px" />
                        </div>
                        <div class="body-review">


                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="desc-review">
                                Good cleanliness, value for money, courteous staff well mannered, delicious food, awesome masala tea, decent location, lovely room. People at the reception are just awesome, really need to thank them a lot it was wonderful and memorable stay here.
                            </div>
                            <div class="name-review"> Shreya Mishra </div>
                            <div class="place-review"> Karnataka, India </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
